{#- vim: ft=jinja #}

{%- set version = mapdata.version if mapdata.version is not none else mapdata.version_major %}
{%- set major_version = version.split(".")[0] -%}
{%- do mapdata.update({"_major": major_version}) -%}
